.mixed-with-highcharts-wrapper {
  display: flex;
  flex-flow: column nowrap;
  background: white;
  padding: 8px;
  box-shadow: 1px 1px 2px #DDD;
  font-size: 1em;
}

.text-title {
  padding: 8px 8px 0px;
  font-size: 0.75em;
  font-weight: 600;
  color: #BBB;
}

.mixed-with-highcharts-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: auto;
}

.mixed-with-highcharts-text {
  //min-height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  .text-number {
    margin-top: auto;
    margin-bottom: 0;
    padding: 0 0 4px 8px;
  }
  .text-sub-number {
    margin-top: 0;
    padding: 0 0 8px 8px;
    color: red;
    font-weight: 800;
    &-rise {
      color: #85E9B7;
    }
  }
}

.mixed-with-highcharts {
  margin-left: auto;
}

@media only screen and (max-width: 850px) {
  .text-title {
    font-size: 0.875em;
    font-weight: 700;
  }
  .text-number {
    font-size: 1.5em;
  }
}