// Style account component starting with its wrapper using CSS grid
.account-wrapper {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 100%;

  .account-cover {
    background-image: url(../../static/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: 1;
  }

  .account {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
    min-height: 100vh;
    padding-top: 20vh;
    transition: padding-top 0.5s;
    z-index: 0;

    h1 {
      letter-spacing: 2px;
    }

    &-sign-up {
      padding-top: 10vh;
    }
  }
}

.typography-wrapper {
  position: relative;
  width: 100%;

  h4 {
    font-weight: 600;
    text-align: center;
    color: #b0b0b0;
  }

  p {
    margin: 0;
    padding: 0 {
      top: 1.5em;
    }
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
  }
}

// When in laptop view, mobile wrapper does nothing but just act as a wrapper
.mobile-wrapper {
  width: 100%;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  //&-display-none {
  //  opacity: 0;
  //  position: absolute;
  //}
}

.no-match-error-text {
  align-self: flex-start;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 0.875em;
  color: red;
}

.button-wrapper,
.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2.5em;
}

.button-wrapper {
  position: relative;

  &-sign-up {
    justify-content: center;
  }
}

.checkbox-wrapper {
  position: relative;
  margin-top: 0;

  div {
    cursor: pointer;
    font-size: 1em;
    line-height: 1em;
  }
}

.footer {
  margin-top: auto;
  padding-bottom: 1em;
  font-size: 0.5em;
}

.flip-enter {
  opacity: 0;
  transform: translateX(40%);
}

.flip-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.flip-exit {
  position: absolute;
  opacity: 1;
  transform: translateX(0);
}

.flip-exit-active {
  opacity: 0;
  transform: translateX(-40%);
  transition: all 500ms;
}

@media only screen and (max-width: 1200px) {
  .account-wrapper .account {
    width: 60%;
  }
}

// Switch to mobile view
@media only screen and (max-width: 850px) {
  .account-wrapper .account {
    &-sign-up {
      padding-top: 5vh;
    }
  }

  .account-wrapper {
    display: block;

    .account-cover {
      display: none;
    }

    .account {
      width: 100%;
      background-image: url(../../static/bg.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .account {
    h1 {
      color: white;
      letter-spacing: 2px;
    }
  }

  // Style the mobile wrapper
  .mobile-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    padding: {
      top: 1em;
      bottom: 1em;
    }
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: rgba(256, 256, 256, 0.8);

    .input-wrapper {
      width: 60%;
    }

    .checkbox-wrapper {
      width: 60%;
    }

    .button-wrapper {
      width: 60%;
    }
  }

  .no-match-error-text {
    align-self: center;
  }

  .footer {
    width: 100%;
    margin-top: unset;
    background: rgba(256, 256, 256, 0.8);
    font-size: 0.75em;
    text-align: center;
  }

  .flip-enter {
    opacity: 0;
    transform: translateY(50%);
  }

  .flip-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms;
  }

  .flip-exit {
    position: absolute;
    opacity: 0;
    transform: translateY(0);
  }

  .flip-exit-active {
    opacity: 0;
    transform: translateY(-50%);
    transition: all 500ms;
  }
}

@media only screen and (max-width: 500px) {
  .account-wrapper .account {
    &-sign-up {
      padding-top: 10vh;
    }
  }
}

// Adjust the button location and the direction it flows
@media only screen and (max-width: 400px) {
  .mobile-wrapper .checkbox-wrapper {
    width: 70%;
  }
  .button-wrapper {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
